@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 400px;
    height: 520px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#app_name{
    width: inherit;
    font-size: 0.8rem;
    padding: 6px 0px 2px 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
}
#display_answer{
    width: inherit;
    height: 100px;
    background-color: #303030;
    font-size: 2rem;
    text-align: right;
    padding-right: 5px;
    color: white;
    outline: none;
    border: none;
}
.layer-1{
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
}
input{
    flex: 1;
    font-size: 1.3rem;
    color: white;
    border: 1px solid #504f4f;
}
.layer-2{
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: center;
}
.main_num{
    background-color: black;
}
.oper{
    background-color: #3b3939;
    font-size: 1.3rem;
}
.main_num:hover,.oper:hover{
    background-color:#555252;
}